/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
  
}


:root {
  color-scheme: only light;
}

@media (forced-colors: active) {
    :root {
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: rgb(245, 242, 242);
    
  }
}

/* body{
  background-color: rgb(255, 250, 247);
} */

:root {
  color-scheme: only light;
}

