@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

body {
  overflow-x: hidden;
font-family: 'Montserrat', sans-serif;
  
}


:root {
  color-scheme: only light;
}

@media (forced-colors: active) {
    :root {
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: rgb(245, 242, 242);
    
  }
}

/* body{
  background-color: rgb(255, 250, 247);
} */

:root {
  color-scheme: only light;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  /* 100% {
    opacity: 0;
  } */
}

.fade-effect {
  animation: fadeInOut 2s; /* Adjust the duration as needed */
}

/* .alice-carousel__prev-btn{
  
} */
/* .alice-carousel__prev-btn-item

.alice-carousel__next-btn
.alice-carousel__next-btn-item */