
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
  
}

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: rgb(17, 15, 15);
    
  }
}